
/* Texts */

h1 {
    color: black;
    font-size: 48px;
}

p {
    color: black
}


/* Main components */

.mainapp {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.banner {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: gainsboro;
    border: 1px;
    border-color: grey;
    border-style: solid;
}

.banner > Link {
    color: black;
    background-color: blue;
}

.main {
    text-align: justify;
    height: 1000px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}


/* Buttons */

button {
    color: black;
    background-color: #CABFA6;
    font-family: Ubuntu sans-serif;
    font-size: 18px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
}

button:hover {
    color: black;
    background-color: rgb(104, 126, 104);
    font-family: Ubuntu sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
}

button:focus {
    color: black;
    background-color: rgb(104, 126, 104);
    font-family: Ubuntu sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
}


/* Others */

.balances {
    margin-left: 10%;
    margin-right: 10%;
}

.balance {
    display: flex;
    justify-content: left;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: darkgray;
}

.balance > p,
.balance > b {
    padding-right: 30px;
}

.balancemonth {
    width: 10%;
}

.balancedate {
    width: 10%;
}

.balancetransaction {
    width: 10%;
}

.balancedescription {
    width: 70%;
}
