
/* Texts for tablet and desktop */

h1 {
    color: black;
    font-size: 54px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2, h3, h4, b, p {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}


/* Texts for mobile */

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 38px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }

}


/* Main components */

.mainapp {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("./src/images/main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.banner {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.link {
    padding: 10px;
}

@media only screen and (max-width: 800px) {
    .banner {
        display: block;
        justify-content: none;
    }
    .link {
        padding: 2px;
        padding-bottom: 0px;
    }

}

.main {
    text-align: justify;
    height: 100%;
    min-height: 500px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}


/* Buttons */

button {
    color: black;
    background-color: gainsboro;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
}

button:hover {
    color: black;
    background-color: lightblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
}

button:focus {
    color: black;
    background-color: lightblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
}


/* Front page */

.fronttext {
    display: flex;
}

.fronttext > * {
    margin-right: 20px;
}

.frontpage > h3 {
    text-align: justify;
}

.fronttext > img {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: darkslategray;
}

@media only screen and (max-width: 1000px) {
    .fronttext {
        display: block;
    }

}


/* Balancetable */

.accounttitle {
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 10px;
}

.accountbalance {
    background-color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: darkgray;
    padding-left: 15px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.balances {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.balance {
    display: flex;
    justify-content: left;
    padding-left: 5px;
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: darkgray;
}

.balance > p,
.balance > b {
    padding-right: 30px;
}

.balance > button {
    background: none;
    padding-left: 5px;
    padding-right: 5px;
}

.balancedate {
    width: 20%;
}

.balancedescription {
    width: 20%;
}

.balancedescription > img {
    padding-left: 15px;
    height: 40px;
    width: 40px;
}

.balanceactioner {
    width: 45%;
}

.balancetransaction {
    width: 15%;
}

.balancemessagetitle {
    width: 30%;
    margin-left: 20px;
    text-align: left;
}

.unread {
    color: red;
    font-size: 12px;
}


/* Transaction handling */

.accountsaldo {
    display: inline-block;
    padding-right: 50px;
}

.accountbalance > button {
    margin-right: 20px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

.accountbalance > button:hover {
    font-weight: normal;
    font-style: italic;
}

.accountbalance > button:focus {
    font-weight: normal;
    font-style: italic;
}

@media only screen and (max-width: 800px) {
    .accountsaldo {
        display: block;
        justify-content: none;
    }
    .accountbalance > button {
        font-size: 14px;
    }
    .balancedescription > img {
        height: 20px;
        width: 20px;
    }
    .balance > button {
        font-size: 12px;
    }
}


/* Loans */

.loans > * > button {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: x-large;
    text-shadow: 2px 2px white;
}

.loans > .houseloan > button {
    background-image: url("./images/house.jpg");
}

.loans > .carloan > button {
    background-image: url("./images/car.jpg");
}

.loans > .studentloan > button {
    background-image: url("./images/student.jpg");
}

.loans > .loan > button {
    background-image: url("./images/loan.jpg");
}

.loans > .visaloan > button {
    background-image: url("./images/visa.jpg");
}

.loans > .moneyloan > button {
    background-image: url("./images/coins.jpg");
}

.signature {
    font-family: fantasy;
}

.loanapplication {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-image: url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}


/* Personal information */

.subinfo {
    display: flex;
    justify-content: left;
    padding-top: 15px;
}

.subinfo > img {
    height: 70px;
    width: 70px;
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
}

.subinfo > div {
    padding-top: 10px;
    padding-left: 20px;
}

.subinfo > div > button {
    width: 200px;
    margin-right: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
}


/* Accounts */

.accounts {
    padding-top: 10px;
    padding-left: 20px;
}

.accounts > button {
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    background-image: url("./images/coins.jpg");
    text-shadow: 2px 2px white;
}


/* Popup window */

.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
}

.box {
    position: relative;
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
    max-height: 80vh;
    margin-top: calc(95vh - 85vh - 10px);
    background-color: lightblue;
    border-radius: 4px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid gray;
    overflow: auto;
    font-family: 16px Ubuntu sans-serif;
}

.close-icon {
    content: 'X';
    cursor: pointer;
    position: absolute;
    right: calc(37% - 30px);
    top: calc(30%);
    opacity: 100%;
    width: 35px;
    height: 35px;
    border-radius: 10%;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
}

.content {
    display: flex;
}

.content > * {
    margin: .1em;
    padding: .3em;
    flex: 1;
}


/* Forms */

.infoform > form {
    display: flex;
    background-color: lightskyblue;
    padding: 10px;
}

.box > div > .formfield {
    background-color: lightskyblue;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: lightslategray;
    padding-top: 10px;
    padding-left: 10px;
}

.formfield {
    flex: 1;
    display: grid;
    grid-template-columns: [labels] 0.5fr [controls] 1fr;
    grid-auto-flow: row;
}

.formfield > label {
    grid-column: labels;
    padding: 5px;
    font-size: 18px;
}

.formfield > input,
.formfield > select,
.formfield > textarea,
.formfield > p {
    grid-column: controls;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.formfield > * > * > input {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px !important;
}

.formfield > p {
    padding: 0px;
    margin-top: 5px;
    font-size: 18px;
}

.formfield > textarea {
    height: 100px;
}

.formfield > button {
    grid-column: controls;
    margin: 15px;
    border: gray 1px solid;
}

@media only screen and (max-width: 800px) {
    .formfield > label,
    .formfield > input,
    .formfield > p,
    .formfield > button {
        font-size: 14px;
    }

}
